<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<body>
    <div layout:fragment="content" class="container my-5">

        <h4>Éditeur du site</h4>
        <p>
            NassTech - Entreprise individuelle de Nassim Zoubeir<br>
            SIRET : 123345667<br>
            Adresse : Marseille<br>
            Email : contact@nass-tech.com<br>
        </p>

        <h4>Directeur de la publication</h4>
        <p>M. Zoubeir Nassim, fondateur de NassTech</p>

        <h4>Hébergement</h4>
        <p>
            Le site NassTech est hébergé par :<br>
            Hostinger International Ltd<br>
            Adresse : 61 Lordou Vironos Street, 6023 Larnaca, Chypre<br>
            Site web : <a href="https://www.hostinger.fr" target="_blank">www.hostinger.fr</a>
        </p>

        <h4>Conception et développement</h4>
        <p>
            Ce site a été conçu et développé par Nassim Zoubeir dans le cadre d’un projet de fin d’études du bachelor Développement Full Stack.
        </p>

        <h4>Mission du site</h4>
        <p>
            NassTech est un site e-commerce dédié à la vente d’ordinateurs portables. Il permet aux utilisateurs de consulter, rechercher et commander des produits en ligne.
        </p>

        <h4>Établir un lien vers NassTech</h4>
        <p>
            Tout site internet est autorisé à établir un lien vers <a href="https://nass-tech.com">www.nass-tech.com</a>, sous réserve de ne pas porter atteinte à l’image de NassTech ou de diffuser des contenus illicites, haineux, pornographiques ou diffamatoires.
        </p>

        <h4>Responsabilité</h4>
        <p>
            NassTech s’efforce d’assurer l’exactitude et la mise à jour des informations diffusées sur son site. Toutefois, elle ne saurait être tenue responsable d’éventuelles erreurs ou omissions.
        </p>

        <h4>Droits d’auteur</h4>
        <p>
            L’ensemble du contenu du site NassTech (textes, images, vidéos, logos, etc.) est protégé par le droit d’auteur. Toute reproduction, représentation ou diffusion, totale ou partielle, sans autorisation expresse est interdite.
        </p>

        <h4>Protection des données personnelles</h4>
        <p>
            Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi Informatique et Libertés, vous disposez d’un droit d’accès, de rectification et de suppression des données vous concernant.<br><br>
            Pour exercer vos droits, vous pouvez nous contacter à :<br>
            <strong>Email :</strong> contact@nass-tech.com<br><br>

            En cas de litige, vous pouvez adresser une réclamation à la CNIL (www.cnil.fr).
        </p>

    </div>
</body>
</html>
